<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-win-NetStats</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>win-NetStats</id>
      <filePathMask>tag:NetStats</filePathMask>
      <fileNameMask>NetStats.out*</fileNameMask>
      <priority>100</priority>
      <expression>(*) (* *),(**)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1431435208991</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>time</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>msg</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
      </fields>
      <example>
        <string>2015/05/12 13:40:53 +01:00,{ &quot;Protocol&quot;:&quot;TCP&quot;,&quot;&quot;LocalAddress&quot;:&quot;172.17.23.204&quot;,&quot;LocalPort&quot;:&quot;64654&quot;,&quot;RemoteAddress&quot;:&quot;10.243.111.44&quot;,&quot;RemotePort&quot;:&quot;8080&quot;,&quot;State&quot;:&quot;ESTABLISHED&quot;,&quot;ProcessName&quot;:&quot;iex
      plore&quot;,&quot;PID&quot;:&quot;7540&quot; }</string>
              <string>2015/05/12 13:40:53 +01:00,{ &quot;Protocol&quot;:&quot;TCP&quot;,&quot;&quot;LocalAddress&quot;:&quot;172.17.23.204&quot;,&quot;LocalPort&quot;:&quot;64657&quot;,&quot;RemoteAddress&quot;:&quot;10.243.112.156&quot;,&quot;RemotePort&quot;:&quot;11003&quot;,&quot;State&quot;:&quot;ESTABLISHED&quot;,&quot;ProcessName&quot;:&quot;j
      ava&quot;,&quot;PID&quot;:&quot;5340&quot; }</string>
              <string>2015/05/12 13:40:53 +01:00,{ &quot;Protocol&quot;:&quot;TCP&quot;,&quot;&quot;LocalAddress&quot;:&quot;172.17.23.204&quot;,&quot;LocalPort&quot;:&quot;64662&quot;,&quot;RemoteAddress&quot;:&quot;10.243.112.156&quot;,&quot;RemotePort&quot;:&quot;11003&quot;,&quot;State&quot;:&quot;ESTABLISHED&quot;,&quot;ProcessName&quot;:&quot;j
      ava&quot;,&quot;PID&quot;:&quot;5340&quot; }</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1431420173736-89538</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1431420173736-89538</wdId>
      <tags>NetStats</tags>
      <dirName>./work/NetStatsApp-1.0/**</dirName>
      <hosts></hosts>
      <filePattern>NetStats.out*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,7,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
